<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script type="module" src="script.js" defer></script>
    </head>
    <body>
        <form id="app" action="" @submit.prevent>
            <input v-model="textbox" /><br />

            <textarea v-model="textarea"></textarea><br />

            <input
                type="checkbox"
                id="checkbox1"
                value="checkbox1"
                v-model="checkbox"
            />
            <label for="checkbox1">checkbox1</label><br />
            <input
                type="checkbox"
                id="checkbox2"
                value="checkbox2"
                v-model="checkbox"
            />
            <label for="checkbox2">checkbox2</label><br />
            <input
                type="checkbox"
                id="checkbox3"
                value="checkbox3"
                v-model="checkbox"
            />
            <label for="checkbox3">checkbox3</label><br />

            <input type="radio" id="" value="radio1" v-model="radiobuttons" />
            <label for="radio1">Radio1</label><br />
            <input type="radio" id="" value="radio2" v-model="radiobuttons" />
            <label for="radio2">Radio2</label><br />
            <input type="radio" id="" value="radio3" v-model="radiobuttons" />
            <label for="radio3">Radio3</label><br />

            <select v-model="select">
                <option value="select1">Select1</option>
                <option value="select2">Select2</option>
                <option value="select3">Select3</option>
            </select>
            <br />
            <p>Textbox: {{textbox}}</p>
            <p>Textarea: {{textarea}}</p>
            <p>Checkboxes: {{checkbox}}</p>
            <p>Radiobuttons: {{radiobuttons}}</p>
            <p>Select: {{select}}</p>

            <button @click.prevent @click.left="reset">Reset</button>
        </form>
    </body>
</html>
