<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script type="module" src="script.js" defer></script>
        <style>
            .mostrar {
                display: block;
            }
            .ocultar {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <ul>
                <li
                    v-for="(item, index) of lista"
                    :key="item.id"
                    :class="ObjetoClases"
                >
                    {{item}}
                    <button @click="eliminarElemento(index)">X</button>
                </li>

                <br />
                <input type="text" v-model="textBox" />
                <button @click="engadirElemento">Engadir elemento</button>
                <br /><br />
                <button @click="cambiarVisibilidad">{{textoBoton}}</button>
            </ul>
        </div>
    </body>
</html>
